.wrapper {
  padding: 2%;
  max-width: 1600px;
  margin: 0 auto;
}

.header {
  &__heading {
    display: inline-block;
  }

  &__subheading {
    font-size: 20px;
    font-weight: 200;
    margin-top: -10px;
  }
}
